* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
html {
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 28px;
    color: #F08700;
    margin: 50px 0 0 0;
    padding-bottom: 24px;
    border-bottom: 1px solid black;
}

h2:hover {
    color: #a1a7ac;
    cursor: pointer;
}

h3 {
    font-size: 22px;
    margin: 20px 0;
}

a {
    display: block;
    padding-bottom: 10px;
}

ul {
    list-style: none;
}

#main-container {
    background-color: white;
    margin: 3rem;
}

.hero {
    background-image: url(../img/kyle-glenn-nXt5HtLmlgE-unsplash.jpg);
    opacity: 0.8;
    width: 100%;
    min-height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.search-container {
    width: 50%;
    height: auto;
    position: absolute;
    top: 16px;
    left: 16px;
    bottom: 16px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: white;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.50);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#search {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.search-fields {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

#search-field {
    appearance: none;
    background-color: white;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    font-size: 14px;
    height: 48px;
    letter-spacing: .25px;
    line-height: normal;
    padding: 2px 24px;
    width: 275px;
    /* min-width: 150px; */
}

#search-field:focus {
    outline: none;
}

#search-btn {
    appearance: none;
    background-color: rgb(228, 228, 230);
    background-color: #F08700;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    color: #3c4043;
    color: black;
    color: white;
    font-size: 16px;
    height: 48px;
    letter-spacing: .25px;
    padding: 2px 24px;
    text-align: center;
    width: 50%;
}

#search-btn:hover {
    background: #a1a7ac;
    /* background: #ff7801; */
    color: black;
    cursor: pointer;
}

.reminder {
    text-align: center;
}

#welcome-text {
    /* margin-top: 0; */
    text-align: center;
}

.hide {
    display: none;
}

#display-error-message {
    color: #F08700;
    /* margin-top: 20px; */
}

#display-number-of-hits {
    margin-top: 20px;
}

#content-container {
    width: 100%;
    padding-bottom: 3rem;
}

.country-content {
    display: flex;
    /* flex-direction: row; */
    justify-content: start;
    padding-bottom: 2rem;
}

.country-data section {
    width: 49%;
}

.country-data {
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

.pictures {
    margin: 10px 20px;
}

.img-size {
    width: 320px;
    display: block;
    padding: 10px 0;
}

.select-menu {
    appearance: none;
    width: 150px;
}

.select-menu .select-btn {
    display: flex;
    font-size: 16px;
    height: 48px;
    background-color: white;
    color: #3c4043;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    letter-spacing: .25px;
    line-height: normal;
    padding: 2px 24px;
    align-items: center;
    position: relative;
}

.custom-arrow {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background: white;
    height: 100%;
    width: 2rem;
    border-radius: 0 8px 8px 0;
    pointer-events: none;
}

.custom-arrow::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-left: .4em solid transparent;
    border-right: .4em solid transparent;
    border-top: .4em solid #3c4043;
}

.select-menu .options {
    position: absolute;
    width: inherit;
    padding: 20px 0;
    border-radius: 8px;
    background: white;
    margin-top: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    display: none;
}

.select-menu.active .options {
    display: block;
}

.options .option {
    display: flex;
    height: 40px;
    cursor: pointer;
    align-items: center;
    padding: 0 30px;
}

.options .option:hover {
    background: #F2F2F2;
}

@media screen and (max-width: 480px) {
    .hero {
        min-height: 500px;
    }

    #main-container {
        margin: 3rem 1rem;
    }

    #search-field {

        /* min-width: 150px; */
    }

    .search-fields {
        flex-direction: column;
        /* gap: .5rem; */
    }

    .select-menu {
        width: 275px;
    }

    .search-btn {
        /* width: 275px; */
    }

    .country-content {
        /* display: flex; */
        /* justify-content: start; */
        /* padding-bottom: 2rem; */
        /* flex-direction: column; */
    }

    .pictures {
        margin: 0;
    }

    .img-size {
        width: 100%;
        padding: 10px 0;
    }

    .search-container {
        padding: 2rem 0;
    }

    .search-container p {
        padding: 0 1rem;
    }

}

@media screen and (max-width: 768px) {
    .search-container {
        width: auto;
        right: 16px;
    }

    /* .country-data {
        justify-content: flex-start;
    } */

    .country-content {
        /* display: flex; */
        /* justify-content: start; */
        /* padding-bottom: 2rem; */
        flex-direction: column;
    }

    .country-data {
        justify-content: space-between;
        margin: 0;
    }

    .country-data section {
        width: 45%;
    }

    /* .pictures {
        margin: 0;
    } */

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .search-container {
        width: 65%;
    }

    .country-data {
        justify-content: space-between;
        margin: 0;
    }

    .country-data section {
        width: 45%;
    }

    /* .country-data {
        justify-content: flex-start;
    }

    .country-data section {
        width: 30%;
    } */
}

@media screen and (min-width: 1450px) {
    .search-container {
        /* right: 30%; */
        /* transform: translateX(-50%); */
        width: 724px;
        left: 50%;
        /* top: 50%; */
        transform: translateX(-50%);
    }

    #main-container {
        margin: 3rem 20%;
        /* max-width: 1440px; */
        /* margin: 0 auto; */
    }
}